<mat-progress-bar mode="query" *ngIf="isCheckedData==false"></mat-progress-bar>

<mat-card class="example-card bg-dark border border-info">
    <mat-card-header>
      <mat-card-title class="text-primary">{{articleTitle}}</mat-card-title>
      <mat-card-subtitle class="text-light">
        {{articleFirstName}} {{articleLastName}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="fs-5 text-light">
        {{articleWriting}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn">{{articleDate |date}}</button>
      <button mat-button color="primary">{{articleCategoryName}}</button>
    </mat-card-actions>
  </mat-card>

  <div class="d-grid gap-2 mt-3"> 
  <button mat-button color="accent" routerLink="/article/add">Yazı ekle</button>
  <button mat-button color="accent" routerLink="/">Ana sayfaya git</button>
  <button mat-button color="accent" routerLink="/history">Geçmiş'e göz at</button>
  </div>


