<nav class="navbar navbar-expand-lg navbar-dark border-bottom border-primary" > <!--[ngClass]="{'dark-theme-mode':checkedDarkMode}"-->
    <div class="container-fluid">
      <button mat-button  class="navbar-brand text-white">{{title}}</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/" matTooltip="{{navbarInfoText[0]}}">
              <mat-icon aria-hidden="false" aria-label="Example home icon" >
                {{navbarIcon[0]}}
              </mat-icon>
            </button>
          </li>
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/article/add" matTooltip="{{navbarInfoText[2]}}">
              <mat-icon>{{navbarIcon[2]}}</mat-icon>
            </button>
          </li>
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/history" matTooltip="{{navbarInfoText[3]}}">
              <mat-icon>{{navbarIcon[3]}}</mat-icon>
            </button>
          </li>
        </ul>
        <span class="navbar-text">
          <mat-slide-toggle [ngClass]="{'darkMode':checkedDarkMode}"  [(ngModel)]="checkedDarkMode" (change)="storeThemeSelection()" matTooltip="{{navbarInfoText[4]}}">
            <mat-icon>{{navbarIcon[4]}}</mat-icon>
          </mat-slide-toggle>
        </span>
      </div>
    </div>
  </nav>