<nav class="navbar navbar-expand-lg navbar-dark border-bottom border-primary" > <!--[ngClass]="{'dark-theme-mode':checkedDarkMode}"-->
    <div class="container-fluid">
      <button mat-button class="navbar-brand text-white">{{title}}</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/" id="home" matTooltip="Ana sayfa">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
          </li>
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/article/add" id="articleadd" matTooltip="Yazı ekle">
              <mat-icon>post_add</mat-icon> <span>Article Add</span>
            </button>
          </li>
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/history" id="history" matTooltip="Geçmiş e bak">
              <mat-icon>history</mat-icon> <span> History</span>
            </button>
          </li>
          
          <li class="nav-item">
            <button mat-button color="primary" routerLink="/login" id="login" matTooltip="Giriş yap">
              <mat-icon>login</mat-icon> <span> Login</span>
            </button>
          </li>
         
        </ul>
        <span class="navbar-text">
            
          
            <button mat-button [matMenuTriggerFor]="menu" color="accent">
              <mat-icon>account_circle</mat-icon> <span> Profile</span>
            </button>
            <mat-menu #menu="matMenu" class="bg-dark">
              <app-my-profile></app-my-profile>
            </mat-menu>

        </span>
      </div>
    </div>
  </nav>
  
