<div class="card bg-dark">
    <h3 class="card-header text-center text-info">Ürün ekleme işlemi</h3>
    <div class="card-body">

        <form [formGroup]="articleAddForm">
            <div class="form-floating mb-3">
                <input type="number" formControlName="authorId" class="form-control bg-dark text-light" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="text-light">Author</label>
            </div>
      
            <div class="form-floating mb-3">
                <input type="number" formControlName="categoryId" class="form-control bg-dark text-light" id="floatingPassword" placeholder="Password">  
                <label for="floatingPassword" class="text-light">Category</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" formControlName="title" class="form-control bg-dark text-light" id="floatingPassword" placeholder="Password">
                
                <label for="floatingPassword" class="text-light">Title</label>
            </div>

                <div class="form-floating mb-3">
                <input type="text" formControlName="writing" class="form-control bg-dark text-light" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" class="text-light">Writing</label>
            </div>

        </form>
    </div>
    <div class="card-footer d-grid gap-2">
        <button mat-raised-button color="primary" class="btn-lg" (click)="articleAdd()">Yazıyı ekle</button>

    </div>
</div>

