
<mat-progress-bar mode="query" *ngIf="!dataLoaded"></mat-progress-bar>

<div class="d-grid gap-2">
  <button class="btn btn-outline-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" (change)="isCategoryDisable()" type="button">
    Kategoriler
  </button>
</div> 
<br>

<div class="offcanvas offcanvas-start bg-dark text-light border border-1 border-light" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasScrollingLabel">Kategoriler</h3>
    <button mat-button type="button" color="warn"  data-bs-dismiss="offcanvas" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
    
  
  </div>
  <div class="input-group mb-3 bg-dark">
    <input type="text" [(ngModel)]="filterText" class="form-control bg-dark text-white" placeholder="Category Search" aria-label="Username" aria-describedby="filter">
  </div>
  <mat-chip color="primary" *ngIf="filterText.length >= 2" selected>{{filterText}}</mat-chip>
  <div class="offcanvas-body d-grid gap-2">
    <button mat-button color="accent"  [class]="getAllCategoryClass()" (click)="openSnackBar('Tümü')" routerLink="/">Tümü</button>
    <button mat-button color="primary" *ngFor="let category of categories |categoryPipe:filterText" 
    routerLink="/articles/category/{{category.id}}" 
    [class]="getCurrentCategoryClass(category)"  
    (click)="setCurrentCategory(category)" 
    matTooltip="{{category.categoryName}} ile ilgili yazıları içerir.">
    {{category.categoryName}}
    </button>
  </div>
  <button mat-button color="accent" routerLink="/category/add">Kategori ekle</button>
</div>
