<h2 class="text-white text-center">
  <span class="text-info">"{{articleTitle}}"</span> başlıklı olan yazıyı güncelliyorsunuz
</h2>
<form [formGroup]="articleUpdateForm">
  <div class="form-floating mb-3">
    <input type="number" formControlName="authorId" class="form-control bg-dark text-light" id="auth" placeholder="author">
    <label for="auth" class="text-light">Author</label>
  </div>
  <label for="categoryselect"  class="text-white fs-5">Kategori seçiniz</label>
  <div class="form-floating mb-3">
    <!-- <input type="number"  formControlName="categoryId" class="form-control bg-dark text-light" id="asasas"> -->
    <select id="categoryselect" class="form-select form-select mb-3 bg-dark text-white" formControlName="categoryId" aria-label=".form-select-lg example">
      <option *ngFor="let category of categories" [ngValue]="category.categoryName">{{category.categoryName}}</option>
    </select>
  </div>
  <div class="form-floating mb-3">
    <input type="text"  formControlName="title" class="form-control bg-dark text-light" id="ttl" placeholder="title">
    <label for="ttl" class="text-light">Title</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text"  formControlName="writing" class="form-control bg-dark text-light" id="wrtng" placeholder="writing">
    <label for="wrtng" class="text-light">Writing</label>
    
  </div>
</form>

<div class="d-grid gap-2">
    <button mat-raised-button color="accent" (click)="updateArticle()">Güncelle</button>
</div>
