<mat-card class="example-card bg-dark text-light">
    <mat-card-header>
      <mat-card-title class="text-center">
          <h1>Please Login</h1>
        </mat-card-title>
      <!-- <mat-card-subtitle class="text-info">Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="form-floating mb-3 bg-dark">
            <input type="email" formControlName="email" class="form-control bg-dark text-light" id="floatingInput" placeholder="name@gmail.com or name@hotmail.com">
            <label for="floatingInput" class="text-light">Email</label>
        </div>
        <div class="form-floating mb-3 bg-dark">
            <input type="password" formControlName="password" class="form-control bg-dark text-light" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword" class="text-light">Password</label>
        </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="card-footer d-grid gap-2">
            <button mat-raised-button color="accent" (click)="login()">
                <mat-icon>login</mat-icon> Login
            </button>
        </div>
        <div class="d-flex justify-content-evenly">
            <button mat-button color="accent" routerLink="/register" class="btn-lg">
                <mat-icon>person_add</mat-icon> Account
            </button>
            
            <button mat-button color="accent" class="btn-lg">
                <mat-icon>password</mat-icon> Forgot Password ?
            </button>
        </div>
    </mat-card-actions>
</mat-card>


