
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');


html, body {
    height: 100%;
}
body {
    margin: 0;
}

::selection{
    background-color: #2471A3;
    color: #17202A;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #27303a;
}

.darkMode{
    background-color: #212529;
    color: #f8f9fa;
}
.lightMode{
    background-color: #f8f9fa;
    color: #212529;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #323d49;
}

@media (max-width:700px){
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #27303a;
    }
}



/* Web Design Tools 1.0.0 */
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}
.GoogleFontsSansSerif{
    font-family: 'Roboto', sans-serif;
}
.GoogleFontsCursive{
    font-family: 'Akaya Telivigala', cursive;
}
.GoogleFontsCursiveAlfa{
    font-family: 'Alfa Slab One', cursive;
}
.GoogleFontsSansSerifOpen{
    font-family: 'Open Sans', sans-serif;
}
.GoogleFontsMonospace{
    font-family: 'Source Code Pro', monospace;
}
.GoogleFontsSansSerifMPlus{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.TextCenter{
    text-align: center;
}
.TextLeft{
    text-align: left;
}
.TextRight{
    text-align: right;
}
:root{
    --ColorBlack: #17202A;
    --ColorWhite: #F8F9F9;
    --ColorRed: #E74C3C;
    --ColorDarkRed:#C0392B;
    --ColorGreen: #2ECC71;
    --ColorYellow: #F4D03F;
    --ColorLightBlue: #3498DB;
    --ColorPurple: #8E44AD;
    --ColorPink: #F305D6;
    --ColorOrange:#D35400;

    --BBottom: 10;
    --BTop: 10;
    --BLeft: 10;
    --BRight: 10;
}


.ColorBlack{
    color: var(--ColorBlack);
}

.ColorWhite{
    color: var(--ColorWhite);
}

.ColorRed{
    color: var(--ColorRed);
}

.ColorGreen{
    color: var(--ColorGreen);
}

.ColorYellow{
    color: var(--ColorYellow);
}

.ColorBlue{
    color: var(--ColorLightBlue);
}

.ColorPurple{
    color: var(--ColorPurple);
}

.ColorPink{
    color: var(--ColorPink);
}

.ColorOrange{
    color: var(--ColorOrange);
}

.ColorDarkRed{
    color: var(--ColorDarkRed);
}


.BackgroundColorBlack{
    background-color: var(--ColorBlack);
}

.BackgroundColorWhite{
    background-color: var(--ColorWhite);
}

.BackgroundColorYellow{
    background-color: var(--ColorYellow);
}

.BackgroundColorBlue{
    background-color: var(--ColorLightBlue);
}

.BackgroundColorRed{
    background-color: var(--ColorRed);
}

.BackgroundColorDarkRed{
    background-color: var(--ColorDarkRed);
}

.BackgroundColorGreen{
    background-color: var(--ColorGreen);
}

.BackgroundColorOrange{
    background-color: var(--ColorOrange);
}

.BackgroundColorPink{
    background-color: var(--ColorPink);
}

.BackgroundColorPurple{
    background-color: var(--ColorPurple);
}



.selectionYellow::selection{
    color: var(--ColorYellow);
}

.selectionBlue::selection{
    color: var(--ColorLightBlue);
}

.selectionRed::selection{
    color: var(--ColorRed);
}

.selectionGreen::selection{
    color: var(--ColorGreen);
}

.selectionPurple::selection{
    color: var(--ColorPurple);
}

.selectionBlack::selection{
    color: var(--ColorBlack);
}

.selectionWhite::selection{
    color: var(--ColorWhite);
}

.selectionBgYellow::selection{
    background-color: var(--ColorYellow);
}

.selectionBgBlue::selection{
    background-color: var(--ColorLightBlue);
}

.selectionBgRed::selection{
    background-color: var(--ColorRed);
}

.selectionBgGreen::selection{
    background-color: var(--ColorGreen);
}

.selectionBgPurple::selection{
    background-color: var(--ColorPurple);
}

.selectionBgBlack::selection{
    background-color: var(--ColorBlack);
}

.selectionBgWhite::selection{
    background-color: var(--ColorWhite);
}

.LinkDecoration{
    text-decoration: none;
}

.LinkDecorationUnderline{
    text-decoration: underline;
}

.DisplayBlock{
    display: block;
}
.DisplayInline{
    display: inline;
}


.MgB-10{
    margin-bottom: calc(var(--BBottom) *1px);
}
.MgT-10{
    margin-top: calc(var(--BTop) *1px);
}
.MgL-10{
    margin-left: calc(var(--BLeft) *1px);
}
.MgR-10{
    margin-right: calc(var(--BRight) *1px);
}


.MgB-20{
    margin-bottom: calc(var(--BBottom) *2px);
}
.MgT-20{
    margin-top: calc(var(--BTop) *2px);
}
.MgL-20{
    margin-left: calc(var(--BLeft) *2px);
}
.MgR-20{
    margin-right: calc(var(--BRight) *2px);
}

.MgB-30{
    margin-bottom: calc(var(--BBottom) *3px);
}
.MgT-30{
    margin-top: calc(var(--BTop) *3px);
}
.MgL-30{
    margin-left: calc(var(--BLeft) *3px);
}
.MgR-30{
    margin-right: calc(var(--BRight) *3px);
}

.MgB-40{
    margin-bottom: calc(var(--BBottom) *4px);
}
.MgT-40{
    margin-top: calc(var(--BTop) *4px);
}
.MgL-40{
    margin-left: calc(var(--BLeft) *4px);
}
.MgR-40{
    margin-right: calc(var(--BRight) *4px);
}

.MgB-50{
    margin-bottom: calc(var(--BBottom) *5px);
}
.MgT-50{
    margin-top: calc(var(--BTop) *5px);
}
.MgL-50{
    margin-left: calc(var(--BLeft) *5px);
}
.MgR-50{
    margin-right: calc(var(--BRight) *5px);
}

.MgB-60{
    margin-bottom: calc(var(--BBottom) *6px);
}
.MgT-60{
    margin-top: calc(var(--BTop) *6px);
}
.MgL-60{
    margin-left: calc(var(--BLeft) *6px);
}
.MgR-60{
    margin-right: calc(var(--BRight) *6px);
}


.MgB-70{
    margin-bottom: calc(var(--BBottom) *7px);
}
.MgT-70{
    margin-top: calc(var(--BTop) *7px);
}
.MgL-70{
    margin-left: calc(var(--BLeft) *7px);
}
.MgR-70{
    margin-right: calc(var(--BRight) *7px);
}


.MgB-80{
    margin-bottom: calc(var(--BBottom) *8px);
}
.MgT-80{
    margin-top: calc(var(--BTop) *8px);
}
.MgL-80{
    margin-left: calc(var(--BLeft) *8px);
}
.MgR-80{
    margin-right: calc(var(--BRight) *8px);
}


.MgB-90{
    margin-bottom: calc(var(--BBottom) *9px);
}
.MgT-90{
    margin-top: calc(var(--BTop) *9px);
}
.MgL-90{
    margin-left: calc(var(--BLeft) *9px);
}
.MgR-90{
    margin-right: calc(var(--BRight) *9px);
}


.MgB-100{
    margin-bottom: calc(var(--BBottom) * 10px);
}
.MgT-100{
    margin-top: calc(var(--BTop) * 10px);
}
.MgL-100{
    margin-left: calc(var(--BLeft) * 10px);
}
.MgR-100{
    margin-right: calc(var(--BRight) * 10px);
}


.MgB-150{
    margin-bottom: calc(var(--BBottom) * 15px);
}
.MgT-150{
    margin-top: calc(var(--BTop) * 15px);
}
.MgL-150{
    margin-left: calc(var(--BLeft) * 15px);
}
.MgR-150{
    margin-right: calc(var(--BRight) * 15px);
}


.MgB-200{
    margin-bottom: calc(var(--BBottom) * 20px);
}
.MgT-200{
    margin-top: calc(var(--BTop) * 20px);
}
.MgL-200{
    margin-left: calc(var(--BLeft) * 20px);
}
.MgR-200{
    margin-right: calc(var(--BRight) * 20px);
}


.MgB-250{
    margin-bottom: calc(var(--BBottom) * 25px);
}
.MgT-250{
    margin-top: calc(var(--BTop) * 25px);
}
.MgL-250{
    margin-left: calc(var(--BLeft) * 25px);
}
.MgR-250{
    margin-right: calc(var(--BRight) * 25px);
}


.MgB-300{
    margin-bottom: calc(var(--BBottom) * 30px);
}
.MgT-300{
    margin-top: calc(var(--BTop) * 30px);
}
.MgL-300{
    margin-left: calc(var(--BLeft) * 30px);
}
.MgR-300{
    margin-right: calc(var(--BRight) * 30px);
}


.MgB-350{
    margin-bottom: calc(var(--BBottom) * 35px);
}
.MgT-350{
    margin-top: calc(var(--BTop) * 35px);
}
.MgL-350{
    margin-left: calc(var(--BLeft) * 35px);
}
.MgR-350{
    margin-right: calc(var(--BRight) * 35px);
}


.MgB-400{
    margin-bottom: calc(var(--BBottom) * 40px);
}
.MgT-400{
    margin-top: calc(var(--BTop) * 40px);
}
.MgL-400{
    margin-left: calc(var(--BLeft) * 40px);
}
.MgR-400{
    margin-right: calc(var(--BRight) * 40px);
}


.MgB-450{
    margin-bottom: calc(var(--BBottom) * 45px);
}
.MgT-450{
    margin-top: calc(var(--BTop) * 45px);
}
.MgL-450{
    margin-left: calc(var(--BLeft) * 45px);
}
.MgR-450{
    margin-right: calc(var(--BRight) * 45px);
}


.MgB-500{
    margin-bottom: calc(var(--BBottom) * 50px);
}
.MgT-500{
    margin-top: calc(var(--BTop) * 50px);
}
.MgL-500{
    margin-left: calc(var(--BLeft) * 50px);
}
.MgR-500{
    margin-right: calc(var(--BRight) * 50px);
}


.Box{
    /* top right bottom left */
margin: 50px 100px 2px 100px;

}
.BoxPadding{
padding: 50px 100px 2px 100px;
}



:root{
    --Black0: #1C2833;
    --White: #F8F9F9;
    --White2: #dddddd;
    --BlueLink: #2980B9;
    --Green: #27AE60;
    --Gray: #85929E;
    --PaddingS: 10;
    --BorderRadius: 1;
    --Black2: #212529;
}
.N{
    overflow: hidden;
    padding: 20px 10px;
}

a{
    text-decoration: none;
}

.NavDark{
    background-color: var(--Black2);
}
.NavLight{
    background-color: var(--White);
}
.NavGray{
    background-color: var(--Gray);
}

.NTitle{
    float: left;
    font-size: xx-large;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

.Content{
    float: right;
}

.NText{
    font-size: x-large;
    color: var(--BlueLink);
    line-height: 18px;
    padding: 10px;
    cursor: pointer;
}
.NText:focus{
    color: var(--Green);
}

.NTextLight:hover{
    background-color: var(--White2);
    color: var(--Black);
    border-radius: calc(var(--BorderRadius) * 4px);
    padding: calc(var(--PaddingS) * 1px);
}
.NTextDark:hover{
    background-color: var(--Black0);
    color: var(--White2);
    border-radius: calc(var(--BorderRadius) * 4px);
    padding: calc(var(--Padding) * 1px);
}

.NavLinkColorBlack{
    color: var(--Black0);
}

@media screen and (max-width: 700px){
    .NTitle{
        float: none;
        display: block;
        text-align: left;
    }

    .NText{
        margin-top: 20px;
        float: none;
        display: block;
        text-align: center;
    }
    
    .Content{
        float: none;
    }
}


:root{
    --XBlack: #1C2833;
    --XWhite: #f5f5f5;
    --XRed: #E74C3C;
    --XGreen: #2ECC71;
    --XYellow: #F4D03F;
    --XBlue: #3498DB;
    --XPurple: #8E44AD;
    --TextBlack: #212529;
}

/*  */

.selectiondefault::selection{
    color: #ffffff;
    background-color: var(--XBlue);
}
.TitleText{
    transition: 0.7s;
}
.Text{
    transition: 0.7s;
}
.TextShadow:hover{
    text-shadow: 5px 5px 4px #000000;
}
.TextLink{
    text-decoration: none;
    transition: 0.7s;
    cursor: pointer;
}
.DisplayInline{
    display: inline;
}
.DisplayBlock{
    display: block;
}

/* Font */
.TextHuge{
    font-size: 40px;
}
.TextBig{
    font-size: x-large;
}
.TextVeryBg{
    font-size: xx-large;
}
.TextSm{
    font-size: small;
}
.TextVerySm{
    font-size: xx-small;
}
.TextHover{
    
    transition: 0.6s;
    
}
.TextHover:hover{
    text-decoration: underline;
}
.TextAnimation:hover{
    color: var(--TextBlack);
}


/* Link */
.LinkHover:hover{
    text-decoration: underline #000000;
    opacity: 0.7;
}
.LinkButton{
    width: 100px;
    height: 40px;
    background-color: var(--XBlue);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LinkButton:active{
    background-color: var(--XGreen);
}
.LinkButton:hover{
    opacity: 0.9;
}
.LinkHover2:hover{
    color: var(--XPurple);
}
.LinkDefault{
    color: default;
    font-size: default;
    background-color: default;
    width: default;
    height: default;
    text-decoration: default;
}

.TextBgColor{
    display: inline;
}
.TextBackgroundDark{
    background-color: var(--XBlack);
}
.TextBackgroundLight{
    background-color: var(--XWhite);
}
.TextBackgroundWarning{
    background-color: var(--XYellow);
}
.TextBackgroundError{
    background-color: var(--XRed);
}
.TextBackgroundSuccess{
    background-color: var(--XGreen);
}


:root{

    --genislik: 200;
    --yukseklik: 40;
    --SmWidth: 100;
    --SmHeight: 25;
    --Width: 300;
    --Height: 70;
    --Red: #C0392B;
    --Blue: #2980B9;
    --DarkBlue: #1A5276;
    --LightBlue: #3498DB;
    --Green: #27AE60;
    --Yellow: #F1C40F;
    --Purple: #6C3483;
    --Black: #1C2833;
    --White: #F7F9F9;
    --Orange: #E67E22;
    --Pink: #E20EB5;
    --Aqua: #00FFFF;
    --Lime: #00FF00;
}
.Button{
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}
.Button:hover{
    opacity: 0.7;
    transform: scale(0.9);
}

.ButtonBg{
    border: none;
    border-radius: 5px;
    font-size: larger;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    width: calc(var(--genislik) * 2px);
    height: calc(var(--yukseklik) * 2px);
}
.ButtonBg:hover{
    opacity: 0.7;
    transform: scale(0.9);
}

.ButtonSm{
    border: none;
    border-radius: 5px;
    font-size: large;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    width: calc(var(--SmWidth) * 2px);
    height: calc(var(--SmHeight) * 2px);
}
.ButtonSm:hover{
    opacity: 0.7;
    transform: scale(0.9);
}

.BtnBlack{
    background-color: var(--Black);
    color: #F7F9F9;
}
.BtnWhite{
    background-color: var(--White);
    color: #11181f;
}
.BtnYellow{
    background-color: var(--Yellow);
}
.BtnRed{
    background-color: var(--Red);
}
.BtnGreen{
    background-color: var(--Green);
}
.BtnBlue{
    background-color: var(--Blue);
}
.BtnDarkBlue{
    background-color: var(--DarkBlue);
}
.BtnLightBlue{
    background-color: var(--LightBlue);
}
.BtnPurple{
    background-color: var(--Purple);
}
.BtnOrange{
    background-color: var(--Orange);
}
.BtnAqua{
    background-color: var(--Aqua);
}
.BtnPink{
    background-color: var(--Pink);
}
.BtnLime{
    background-color: var(--Lime);
}

@media (max-width: 1000px){
    .Button{
        width: 180px;
        height: 45px;
        font-size: medium;
    }
    .ButtonBg{
        width: calc(var(--Width) * 1px);
        height: calc(var(--Height) * 1px);
        font-size: large;
    }
    .ButtonSm{
        width: calc(var(--SmWidth) * 1px);
        height: calc(var(--SmHeight) * 1px);
        font-size: medium;
    }
}
@media (max-width: 700px){
    .Button{
        width: 150px;
        height: 35px;
        font-size: medium;
    }
    .ButtonBg{
        width: calc(var(--genislik) * 1px);
        height: calc(var(--yukseklik) * 1px);
        font-size: large;
    }
    .ButtonSm{
        width: calc(var(--SmWidth) * 1px);
        height: calc(var(--SmHeight) * 1px);
        font-size: medium;
    }
}


:root{
    --RedA: #C0392B;
    --YellowA: #F1C40F;
    --BlackA: #1C2833;
    --GreenA: #2ECC71;
    --BlueA: #3498DB;
    --PurpleA: #8E44AD;
    --LightPurpleA: #A569BD;
    --WhiteA: #F8F9F9;
    --DarkBlueA: #1F618D;
}
.AlertBox{
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 15px;
    transition:  1.2s;
}
.AlertBoxBorder{
    border: 2px solid var(--BlackA);
}
.AlertBoxBorderRadius{
    border-radius: 5px;
}

.AlertBoxError{
    background-color: var(--RedA);
}
.AlertBoxWarning{
    background-color: var(--YellowA);
}
.AlertBoxSuccess{
    background-color: var(--GreenA);
}
.AlertBoxDark{
    background-color: var(--BlackA);
}
.AlertBoxCloud{
    background-color: var(--BlueA);
}
.AlertBoxPurpleSugar{
    background-color: var(--PurpleA);
}
.AlertBoxDarkBlue{
    background-color: var(--DarkBlueA);
}

.AlertText{
    margin: auto auto;
    padding: 5px;
}
.AlertTextWhite{
    color: var(--White);
}
.AlertTextFont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AlertTextCenter{
    text-align: center;
}
.AlertLink{
    color: var(--WhiteA);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
.AlertLink:hover{
    color: var(--BlackA);
    text-decoration: underline;
}
.AlertTextBold{
    font-weight: 900;
    font-size: large;
}


:root{
    --WidthValue: 10;
    --HeightValue: 10;
    --BorderRadiusValue: 1;
    --PaddingValue: 10;
    --MarginValue:1;
    --BgRed: #C0392B;
    --BgBlue: #2980B9;
    --BgDarkBlue: #1A5276;
    --BgLightBlue: #3498DB;
    --BgGreen: #27AE60;
    --BgYellow: #F1C40F;
    --BgPurple: #6C3483;
    --BgBlack: #1e2b36;
    --BgWhite: #F7F9F9;
    --BgOrange: #E67E22;
    --BgPink: #E20EB5;
    --BgAqua: #00FFFF;
    --BgLime: #00FF00;
    --BgGray:#BDC3C7;
    --ClGray: #dddddd;
}
.FormBox{
    padding: calc(var(--PaddingValue) * 5px);
    margin: auto 27%;
}
.FormTextCenter{
    text-align: center;
}
.FormElement{
    transition: 0.5s;
    display: flex;
    width: calc(var(--WidthValue) * 50px);
    height: calc(var(--HeightValue) * 4px);
    border-radius: calc(var(--BorderRadiusValue) * 6px);
    border: 1px solid var(--BgBlack);
    font-size: x-large;
}
.FormElement:focus{
    outline: 0;
    box-shadow: 4px 4px 10px var(--BgGray);
}
.LabelText{
    display: inline-block;
    margin: calc(var(--MarginValue) * 10px);
}

input[type=text],input[type=email],input[type=password]{
    color: var(--BgDarkBlue);
}

@media (max-width: 700px){
    .FormBox{
        margin: auto auto;
    }
    .FormElement{
        
        width: calc(var(--WidthValue) * 35px);
        height: calc(var(--HeightValue) * 4px);
        font-size: large;
    }
}


:root{
    --XWhite: #F2F3F4;
    --XBlack: #1C2833;
    --XGreen: #27AE60;
    --XYellow: #F1C40F;
    --XRed: #A93226;
}

.MessageBox{
    width: 80%;
    height: auto;
    position: relative;
    margin: 5px auto;
    transition: 0.8s;
}
.MessageBoxBorder{
    border: 1px solid #1C2833;
}
.MessageBoxBorderRadius{
    border-radius: 5px;
}

.MessageBoxBgDark{
    background-color: var(--XBlack);
}
.MessageBoxBgRed{
    background-color: var(--XRed);
}
.MessageBoxBgGreen{
    background-color: var(--XGreen);
}
.MessageBoxBgYellow{
    background-color: var(--XYellow);
}


.MessageBoxTitleCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MessageBoxText{
    padding: 10px;
}

.CloseButton{
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    margin: -8px 97.7%;
    color: var(--Red);
    cursor: pointer;
    display: block;
}
.CloseButtonGreenHover:hover{
    color: var(--XGreen);
}
.CloseButtonYellowHover:hover{
    color: var(--XYellow);
}
.CloseButtonBlackHover:hover{
    color: var(--XBlack);
}
.CloseButtonRedHover:hover{
    color: var(--XRed);
}

@media screen and (max-width:500px){
    .CloseButton{
        margin: -8px 95%;
    }
}
/* Web Design Tools 1.0.0 */


.ItemCenter{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Half50{
    width: 50%;
}

@media screen and (max-width: 600px){
    .Box{
        margin: 30px 30px 1px 130px;
    }
}

